---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/common/Navbar.astro";
import Hero from "../../components/home/Hero.astro";
import SobreNosotros from "../../components/home/SobreNosotros.astro";
import Valores from "../../components/home/Valores.astro";
import Actividades from "../../components/home/Actividades.astro";
import ComoBeneficiarte from "../../components/home/ComoBeneficiarte.astro";
import Contacto from "../../components/home/Contacto.astro";
import Footer from "../../components/common/Footer.astro";
import { SITE_INFO } from "../../constants";

const nombre = SITE_INFO.name;
---

<Layout title={nombre}>
  <Navbar />

  <main>
    <Hero />
    <SobreNosotros />
    <Valores />
    <Actividades />
    <ComoBeneficiarte />
    <Contacto />
  </main>

  <Footer />
</Layout>
