---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/common/Navbar.astro";
import Hero from "../components/home/Hero.astro";
import SobreNosotros from "../components/home/SobreNosotros.astro";
import Valores from "../components/home/Valores.astro";
import NuestroTrabajo from "../components/home/NuestroTrabajo.astro";
import Contacto from "../components/home/Contacto.astro";
import Footer from "../components/common/Footer.astro";
import { createReader } from "@keystatic/core/reader";
import keystaticConfig from "../../keystatic.config";

const reader = createReader(process.cwd(), keystaticConfig);
const globalData = await reader.singletons.global.read();
const nombre = globalData?.nombreSitio || "Talento para el Desarrollo";
---

<Layout title={nombre}>
  <Navbar />

  <main>
    <Hero />
    <SobreNosotros />
    <Valores />
    <NuestroTrabajo />
    <Contacto />
  </main>

  <Footer />
</Layout>
