---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro"; // <--- NUEVO
import Hero from "../components/Hero.astro";
import SobreNosotros from "../components/SobreNosotros.astro"; // <--- NUEVO
import Valores from "../components/Valores.astro";
import NuestroTrabajo from "../components/NuestroTrabajo.astro"; // <--- NUEVO
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro"; // <--- NUEVO
---

<Layout title="Talento para el Desarrollo - Fundación">
  <Navbar />

  <main>
    <Hero />
    <SobreNosotros />
    <Valores />
    <NuestroTrabajo />
    <Contacto />
  </main>

  <Footer />
</Layout>
