---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Pilares from '../components/Pilares.astro';
import Contacto from '../components/Contacto.astro';
---

<Layout title="Fundación [Nombre] | Capital Humano en África">
  <main>
    <Hero />
    <Pilares />
    <Contacto />
  </main>
</Layout>