---
import LegalLayout from "../layouts/LegalLayout.astro";
---

<LegalLayout
  title="Política de Cookies"
  description="Información sobre el uso de cookies en nuestro sitio web."
>
  <p>
    Informamos a los usuarios de que en este sitio web <strong
      >NO se utilizan cookies propias ni de terceros</strong
    > para el seguimiento, análisis o publicidad comportamental.
  </p>

  <h3>¿Qué son las cookies?</h3>
  <p>
    Una cookie es un fichero que se descarga en su ordenador al acceder a
    determinadas páginas web. Las cookies permiten a una página web, entre otras
    cosas, almacenar y recuperar información sobre los hábitos de navegación de
    un usuario o de su equipo y, dependiendo de la información que contengan y
    de la forma en que utilice su equipo, pueden utilizarse para reconocer al
    usuario.
  </p>

  <h3>Nuestro compromiso con la privacidad</h3>
  <p>
    En la <strong>Asociación Talento para el Desarrollo</strong> nos tomamos muy en
    serio la privacidad de nuestros usuarios. Por ello, hemos diseñado este sitio
    web para funcionar sin necesidad de almacenar cookies en su dispositivo.
  </p>

  <ul
    class="list-disc pl-5 space-y-2 bg-zinc-50 p-6 rounded-sm border-l-4 border-terracotta-500 text-base my-8"
  >
    <li>
      <strong>No utilizamos Google Analytics</strong> ni otros sistemas de métricas
      que requieran cookies.
    </li>
    <li>
      <strong>No mostramos publicidad</strong> personalizada ni de terceros.
    </li>
    <li>
      <strong>No rastreamos</strong> su actividad fuera de este sitio web.
    </li>
  </ul>

  <h3>Cookies técnicas (Exentas)</h3>
  <p>
    Es posible que el servidor donde se aloja la web o los servicios de terceros
    esenciales para su funcionamiento (como el balanceo de carga o la seguridad)
    utilicen mecanismos de almacenamiento técnico que son estrictamente
    necesarios y que, según el artículo 22.2 de la LSSI, no requieren
    consentimiento informado.
  </p>

  <h3>Enlaces a terceros</h3>
  <p>
    El portal puede contener enlaces a sitios web de terceros, cuyas políticas
    de privacidad son ajenas a la de la Asociación. Al acceder a tales sitios
    web usted puede decidir si acepta sus políticas de privacidad y de cookies.
    Con carácter general, si navega por internet usted puede aceptar o rechazar
    las cookies de terceros desde las opciones de configuración de su navegador.
  </p>
</LegalLayout>
